<div class="card">
  <div class="card-content">    
    <p class="title"><%= contact.name %></p>
    <p class="sub-title"><%= contact.nohp %></p>
    <p class="sub-title"><%= contact.email %></p>    
  </div>
  <div class="card-footer p-4">
    <a href="/" class="tag is-link is-light mr-2">Back</a>
    <a href="/contact/edit/<%= contact.name %>" class="tag is-info mr-2">Ubah</a>
    <form action="/contact?_method=DELETE" method="post">
      <input type="hidden" name="name" value="<%= contact.name %>">
      <button class="tag is-danger mr-2" onclick="return confirm('Yakin mau menghapus?')">Hapus</button>      
    </form>
  </div>
</div>